<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" class="no-js"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" class="no-js"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" class="no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Campus View Apartments For Rent Fergus Falls, MN</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<meta name="description" content="Apartments for rent Fergus Falls MN Efficiency, One Bedroom Two Bedroom and Three bedroom units">
	<meta name="author" content="Campus Development Group LLP">

	<!-- Styles -->
	<%=stylesheet_link_tag 'bootstrap.css' %>
   <%=stylesheet_link_tag 'maine.css' %>
	<%=stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700' %>
	<%=stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700' %>

	<!-- Google Fonts 
	<link href='https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700' rel='stylesheet' type='text/css'> -->

	<!-- IE 9 Fallback-->
	<!--[if IE 9]>
		<link href="assets/css/ie.css" rel="stylesheet">
	<![endif]-->

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements and IE Fallback-->
	<!--[if lt IE 9]>
	  <script src="assets/js/html5shiv.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../../assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="../../assets/ico/favicon.png">

</head>


	<!-- NAVBAR -->
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<nav class="navbar-collapse collapse" id="main-nav" role="navigation">
				<ul class="nav navbar-nav navbar-right nav-text-light">
					<li class="active"><a href="#top">HOME</a></li>
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#services">AMENITIES</a></li>
					<li><a href="#works">FLOORPLANS</a></li>
					<li><a href="#contact">CONTACT</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- END NAVBAR -->

	<div id="carousel-example" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="item active">
	    	<%= image_tag '1447/1.jpg', class: 'img img-responsive' %>
	      <div class="carousel-caption">
	      		<div class="hero-text">
	      			<h2 class="hero-heading">CAMPUS VIEW <span class="name"></span></h2>
	      			<div data-looper="go" data-interval="3000" class="looper slide down">
	      				<div class="looper-inner">
	      					<div class="item animated"><p>HISTORIC APARTMENTS</p></div>
	      				</div>
	      			</div>
	      		</div>
		      	<div class="hero-buttons">
		      		<a href="#about" id="btn-about" class="btn btn-info btn-md"><i class="fa fa-arrow-circle-o-down"></i> Now Renting!</a>
		      		<a href="#contact" id="btn-contact" class="btn btn-primary btn-md"><i class="fa fa-phone-square"></i> Get in touch</a>
		      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag '1447/3.jpg' %>
	      <div class="carousel-caption">
	              		<div class="hero-text">
	              			<h2 class="hero-heading">CAMPUS VIEW <span class="name"></span></h2>
	              			<div data-looper="go" data-interval="3000" class="looper slide down">
	              				<div class="looper-inner">
	              					<div class="item animated"><p>HISTORIC APARTMENTS</p></div>
	              				</div>
	              			</div>
	              		</div>
	        	      	<div class="hero-buttons">
	        	      		<a href="#about" id="btn-about" class="btn btn-info btn-md"><i class="fa fa-arrow-circle-o-down"></i> Now Renting!</a>
	        	      		<a href="#contact" id="btn-contact" class="btn btn-primary btn-md"><i class="fa fa-phone-square"></i> Get in touch</a>
	        	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag '1447/4.jpg' %>
	      <div class="carousel-caption">
	            		<div class="hero-text">
	            			<h2 class="hero-heading">CAMPUS VIEW <span class="name"></span></h2>
	            			<div data-looper="go" data-interval="3000" class="looper slide down">
	            				<div class="looper-inner">
	            					<div class="item animated"><p>HISTORIC APARTMENTS</p></div>
	            				</div>
	            			</div>
	            		</div>
	      	      	<div class="hero-buttons">
	      	      		<a href="#about" id="btn-about" class="btn btn-info btn-md"><i class="fa fa-arrow-circle-o-down"></i> Now Renting!</a>
	      	      		<a href="#contact" id="btn-contact" class="btn btn-primary btn-md"><i class="fa fa-phone-square"></i> Get in touch</a>
	      	      	</div>
	      </div>
	    </div>
	  </div>

	  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>

	
	<!-- MAIN CONTENT -->
	<div id="main-content" class="main-content">
		
		<!-- ABOUT -->
		<div id="about" class="section about">
			<div class="container">
				<div class="section-heading">
					<h2>ABOUT</h2>
					<p>Modern living in a historic setting</p>
					<hr />
				</div>
				<div class="section-content">
					<p>Campus View is a wonderful place to call home in Fergus Falls, MN. When it comes to new apartment complexes, they just aren't built like they used to be. The Campus View buildings date back to the early 1900s and were designed to last.  The best part about the place is every unit is unique and residents will enjoy the character of a historic building with modern amenities.  In most units you will find original wood flooring and large windows with uninhibited views of the surrounding green space. 

						<p>The buildings were completely renovated from top to bottom in 2015 and 2016 and are now ready for occupancy with new kitchens and tiled showers to experience. The character and historic signifance of the complex have earned them a spot on the National Register of Historic Places. </p>

					<p>The property consists of three buildings with a mix of efficiency, one bedroom, two bedroom, and three bedroom units. The first two buildings (1447 and 1628 Patterson Loop) have been completly remodeled and are now accepting new residents. These units are furnished with modern appliances including a dishwasher, stove, refrigerator, and microwave.  
					</p>
					<p> Pet Friendly! </p>
				</div>
			</div>
		</div>
		<!-- END ABOUT -->

		<!-- PHOTOS -->
		<div class="container">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <%= image_tag '9.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '2.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '3.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '4.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '5.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '6.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '7.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item inactive">
		      <%= image_tag '9.jpg' %>
		      <div class="carousel-caption">
		      </div>
		    </div>

		  </div>
		</div>

		<!-- END PHOTOS -->

		<!-- AMENITITES -->
		<div id="services" class="section darker services" >
			<div class="container">
				<div class="section-heading">
					<h2>AMENITIES</h2>
					<p>We want you to be <i>comfortable </i></p>
					<hr />
				</div>
				<div class="section-content">
					<div class="row">
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Secure building With Large Front Porch</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>On Site Laundry</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Original Hardwood Floors</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Individual Water Heaters With Split A/C And Baseboard Heat All Individually Controlled</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Penny Tile In Bathroom And Some Kitchens</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Walk-In Tile Showers</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Painted White Cabinets With Tile Backsplash</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Walk-In Closets (Most Units)</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Stainless Steel Appliances</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Large Windows Throughout With Original Casings</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Track Lighting In The Kitchen</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Storage Closets For Rent</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Custom Accent Paint Colors</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Large Base Trim</h3>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Easy Access to Kirkbride Events</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END AMENITIES -->

		<!-- FULL-WIDTH PARALLAX -->
		<div id="social-network" class="section full-width-parallax parallax">
			<div class="container">
				<h2>Follow the Kirkbride Activity</h2>
				<ul class="list-inline social-icon">
					<li class="wow rollIn" data-wow-delay='0.3s'><a href="https://www.facebook.com/groups/friendsofthekirkbride/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li class="wow rollIn" data-wow-delay='0.3s'><a href="https://twitter.com/CampusViewFF" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- END FULL-WIDTH PARALLAX -->

		<!-- FLOORPLANS -->
		<div id="works" class="section works">
			<div class="section-heading">
				<h2>FLOORPLANS</h2>
				<p>Find a unit that fits your living style</p>
				<hr />
			</div>
			<div class="section-content">				
				<ul class="list-inline work-item-filters">
					<li><a class="active" href="#" data-filter="*">ALL</a></li>
					<li><a href="#" data-filter=".design">One Bedroom</a></li>
					<li><a href="#" data-filter=".photography">Two Bedroom</a></li>
					<li><a href="#" data-filter=".ui">Efficiency</a></li>
				</ul>

				<div class="work-item-wrapper">
					<ul class="work-item-list list-col-4">
						<li class="work-item design">
							<img src="../../assets/img/portfolio/work1.jpg" alt="One Bedroom">
							<div class="image-overlay">
								<a href="../../assets/img/portfolio/work1-ori.jpg" class="media-popup" title="One Bedroom">
									<div class="work-item-info">
										<h3>One Bedroom</h3>
										<p>638 - 689 Square Feet</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item photography">
							<img src="../../assets/img/portfolio/work7.jpg" alt="Two Bedroom Apartment">
							<div class="image-overlay">
								<a href="../../assets/img/portfolio/work7-ori.jpg" class="media-popup" title="Two Bedroom">
									<div class="work-item-info">
										<h3>Two Bedroom</h3>
										<p>783 - 846 Square Feet</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item ui design">
							<img src="../../assets/img/portfolio/work6.jpg" alt="Efficiency">
							<div class="image-overlay">
								<a href="../../assets/img/portfolio/work6-ori.jpg" class="media-popup" title="Efficiency">
									<div class="work-item-info">
										<h3>Efficiency</h3>
										<p>414 Square Feet</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END FLOORPLANS -->

		<!-- CONTACT -->
		<div id="contact" class="section contact">
			<div class="section-heading">
				<h2>GET IN TOUCH</h2>
				<p>Now it's time to reserve your place.</p>
				<hr />
			</div>
			<div class="section-content">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="contact-info">
								<ul class="list-unstyled">
									<li>
										<i class="fa fa-map-marker pull-left"></i>
										<h3>Address</h3>
										<p>1628 Patterson Loop<br />Fergus Falls, MN</p>
									</li>
									<li>
										<i class="fa fa-envelope pull-left"></i>
										<h3>Phone</h3>
										<p>+1 701 261 5074</p>
									</li>
									<li>
										<i class="fa fa-user pull-left"></i>
										<h3>Email</h3>
										<p><a href="mailto:hello@yourdomain.com">hello@campusviewff.com</a></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-8">
								<div class="alert"></div>
								<%= simple_form_for Contact.new do |f| %>
									<div class="row">
										<div class="col-md-6">
											<%= f.input :name, :required => true, :placeholder => "Name", :class => "form-control", label: false %>
										</div>
										<div class="col-md-6">
											<%= f.input :email, :required => true, :placeholder => "Email", :class => "form-control", label: false %>
										</div>
									</div>
									<div class="form-group">
										<%= f.input :subject, :required => true, :placeholder => "Subject", :class => "form-control", label: false %>
									</div>
									<div class="form-group">
										<%= f.input :message, :as => :text, :placeholder => "Enter a message...", :class => "form-control", label: false %>
									</div>
									<%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
								<% end %>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END CONTACT -->

		<!-- TWITTER STREAM -->
		<div id="twitter-stream" class="section twitter-stream">
			<div class="container">
				<div class="twitter-icon">
					<i class="fa fa-twitter"></i>
				</div>
				<div id="tweet"></div>
			</div>
		</div>
		<!-- TWITTER STREAM -->

	</div>
	<!-- END MAIN CONTENT -->

	<!-- FOOTER -->
	<footer id="footer" class="section">
		<div class="container">
			<p class="copyright pull-left">&copy; <%= @year %>. Campus View Apartments. All Rights Reserved.</p>
		</div>
	</footer>
	<!-- END FOOTER -->

	<div class="back-to-top">
		<a href="#top"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!-- JAVASCRIPT -->
	<script src="../../assets/js/jquery-2.1.0.min.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="../../assets/js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="../../assets/js/jquery.easing.min.js"></script>
	<script src="../../assets/js/jquery.parallax-1.1.3.js"></script>	
	<script src="../../assets/js/twitter-fetcher.js"></script>
	<script src="../../assets/js/imagesloaded.pkgd.js"></script>
	<script src="../../assets/js/jquery.isotope.js"></script>
	<script src="../../assets/js/wow.js"></script>
	<script src="../../assets/js/looper.js"></script>
	<script src="../../assets/js/jpreloader.js"></script>
	<script src="../../assets/js/parsley.min.js"></script>
	<script src="../../assets/js/jquery.easypiechart.min.js"></script>
	<script src="../../assets/js/waypoints.min.js"></script>
	<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../assets/js/loop.js"></script>
</body>
</html>


